<div class="card{{#class}} {{{.}}}{{/class}}"{{#id}} id="{{{.}}}"{{/id}}>
	{{#header}}<div class="card-header">{{{.}}}</div>{{/header}}
	{{#img-top}}
		{{#href}}<a href="{{.}}">{{/href}}<img src="{{src}}" class="card-img-top" alt="{{alt}}">{{#href}}</a>{{/href}}
	{{/img-top}}
	{{{body}}}
	{{#img-bottom}}
		<img src="{{src}}" class="card-img-bottom" alt="{{alt}}">
	{{/img-bottom}}
	<div class="card-footer">{{{footer}}}</div>
</div>