<a{{#id}} id="{{{.}}}"{{/id}} class="dropdown-item{{#class}} {{{.}}}{{/class}}" href="{{{href}}}" {{#title}} title="{{{.}}}"{{/title}}{{#data}} {{{.}}}{{/data}}{{#role}} role="{{{.}}}"{{/role}}{{#rel}} role="{{{.}}}"{{/rel}}{{#aria-label}} aria-label="{{{.}}}"{{/aria-label}}>{{{text}}}</a>