<a{{#id}} id="{{.}}"{{/id}} class="card-link{{#class}} {{.}}{{/class}}" href="{{href}}" {{#title}} title="{{.}}"{{/title}}{{#data}} {{{.}}}{{/data}}{{#role}} role="{{.}}"{{/role}}{{#rel}} rel="{{.}}"{{/rel}}{{#aria-label}} aria-label="{{.}}"{{/aria-label}}>{{{text}}}</a>