<div class="dropdown{{#cnt-class}} {{{.}}}{{/cnt-class}}">
	<a role="button" tabindex="{{{tabindex}}}" class="{{#btn-class}} {{{.}}}{{/btn-class}}"{{#id}} id="{{{.}}}"{{/id}} title="{{title}}" {{#btn-data}}{{{.}}}{{/btn-data}}data-bs-toggle="dropdown" aria-haspopup="true" aria-label="{{btn-aria-label}}" aria-expanded="false" aria-controls="{{id}}-menu" href="">
		<i{{#icon-class}} class="{{{.}}}"{{/icon-class}}></i>
	</a>
  </a>
	<div id="{{id}}-menu" class="dropdown-menu{{#menu-class}} {{{.}}}{{/menu-class}}" aria-labelledby="{{id}}">
		{{{body}}}
	</div>
</div>