<div class="dropdown{{#cnt-class}} {{{.}}}{{/cnt-class}}">
	<button type="button" class="dropdown-toggle{{#btn-class}} {{{.}}}{{/btn-class}}"{{#id}} id={{{.}}}{{/id}} title="{{title}}" {{#data}}{{{.}}}{{/data}}data-bs-toggle="dropdown" aria-haspopup="true" aria-label="{{{btn-aria-label}}}" aria-expanded="false" aria-controls="{{{id}}}-menu">
		<span>{{{text}}}</span>
	</button>
	<div id="{{id}}-menu" class="dropdown-menu{{#menu-class}} {{{.}}}{{/menu-class}}" aria-labelledby="{{id}}">
		{{{body}}}
	</div>
</div>