<a{{#id}} id="{{.}}"{{/id}}{{#class}} class="{{.}}"{{/class}} href="{{href}}"{{#title}} title="{{.}}"{{/title}}{{#data}} {{{.}}}{{/data}}{{#role}} role="{{.}}"{{/role}}{{#rel}} role="{{.}}"{{/rel}}{{#aria}} {{{.}}}{{/aria}}{{#target}} target="{{.}}"{{/target}}>{{{body}}}</a>