<div id={{id}} class="d-flex{{#container-class}} {{{.}}}{{/container-class}}">
	<div class="{{#img-class}} {{{.}}}{{/img-class}}">
		<img src="{{src}}" alt="{{alt}}">
	</div>
	<div class="{{#body-class}} {{{.}}}{{/body-class}}">
		{{{body}}}
	</div>
</div>