<li{{#id}} id="{{.}}"{{/id}} class="mws-tree-node{{class}}" {{#role}} role="{{.}}"{{/role}} tabindex="0">
	<div>
		{{#expandBtn}}<a class="mws-tree-expander{{class}}" aria-expanded="{{expanded}}"{{#id}} aria-controlls="{{.}}-children"{{/id}} role="button"></a>{{/expandBtn}}
		{{#iconBefore}}<span class="{{class}}"></span>{{/iconBefore}}
		<a id="{{labelId}}" href="{{href}}" title="{{title}}">{{text}}</a>
		{{#iconAfter}}<span class="{{class}}"></span>{{/iconAfter}}
	</div>
	{{#hasChildren}}
	<ul role="group" aria-labelledby="{{labelId}}" class="mws-tree-node-children{{#expanded}} show{{/expanded}}"{{#id}} id="{{.}}-children"{{/id}}">
		{{#children}}{{{.}}}{{/children}}
	</ul>
	{{/hasChildren}}
</li>