<li{{#id}} id="{{.}}"{{/id}} class="mws-tree-item {{class}}" {{#data}} {{{.}}}{{/data}}>
	<div>
		{{#expandBtn}}<a class="mws-tree-expander {{class}}" role="button" tabindex="0" aria-label="{{text}}"{{#id}} aria-controls="{{.}}-children"{{/id}}{{#hasChildren}} aria-expanded="{{expanded}}"{{/hasChildren}}></a>{{/expandBtn}}<a id="{{labelId}}" class="mws-tree-item-label{{#isNew}} new{{/isNew}}" href="{{href}}"{{#title}} title="{{{.}}}"{{/title}}{{#rel}} rel="{{{.}}}"{{/rel}}{{#target}} target="{{{.}}}"{{/target}}>{{{preHtml}}}{{text}}</a>
	</div>
	{{#hasChildren}}
	<ul class="mws-tree mws-tree-item-children{{#expanded}} show{{/expanded}}"{{#id}} id="{{.}}-children"{{/id}} aria-labelledby="{{labelId}}" role="group">
		{{#children}}{{{.}}}{{/children}}
	</ul>
	{{/hasChildren}}
</li>
