<li{{#id}} id="{{.}}"{{/id}} class="mws-tree-node{{class}}" {{#role}} role="{{.}}"{{/role}}{{#hasChildren}} aria-haspopup="true"{{/hasChildren}} tabindex="0">
	<div>
		{{#expandBtn}}<a class="mws-tree-expander{{class}}" aria-expanded="{{expanded}}"{{#id}} aria-controlls="{{.}}-children"{{/id}} role="button"></a>{{/expandBtn}}
		<span id="{{labelId}}" class="mws-tree-node-label" >{{text}}</span>
	</div>
	{{#hasChildren}}
	<ul role="group" aria-labelledby="{{labelId}}" class="mws-tree-node-children{{#expanded}} show{{/expanded}}"{{#id}} id="{{.}}-children"{{/id}}">
		{{#children}}{{{.}}}{{/children}}
	</ul>
	{{/hasChildren}}
</li>