<li{{#id}} id="{{.}}"{{/id}} {{#classes}} class="{{.}}"{{/classes}} {{#role}} role="{{.}}"{{/role}} tabindex="0">
	<div>
		{{#expandBtn}}
		<button {{#btnClasses}} class="{{.}}"{{/btnClasses}} aria-expanded="{{expanded}}"{{#id}} aria-controlls="{{.}}-children"{{/id}}></button>
		{{/expandBtn}}
		<a id="{{labelId}}" href="{{href}} title="{{title}}">{{text}}</a>
	</div>
	{{#hasChildren}}
	<ul role="group" aria-labelledby="{{labelId}}" class="tree-node-children"{{#id}} id="{{.}}-children"{{/id}}">
		{{#children}}{{{.}}}{{/children}}
	</ul>
	{{/hasChildren}}
</li>